.footer-width-fixer {
    width: 100%;
}

/* Container fix for genesis themes */

.ehf-template-genesis.ehf-header .site-header .wrap,
.ehf-template-genesis.ehf-footer .site-footer .wrap,
.ehf-template-generatepress.ehf-header .site-header .inside-header {
    width: 100%;
    padding: 0;
    max-width: 100%;
}

/* Container fix for generatepress theme */

.ehf-template-generatepress.ehf-header .site-header,
.ehf-template-generatepress.ehf-footer .site-footer {
    width: 100%;
    padding: 0;
    max-width: 100%;
    background-color: transparent !important; /* override generatepress default white color for header */
}

.bhf-hidden {
    display: none
}

/* Fix: Header hidden below the page content */
.ehf-header #masthead {
	z-index: 200;
    position: relative;
}


.elementor-widget-post-title .hfe-post-content-parent.elementor-size-small p{
    font-size: 15px;
}

.elementor-widget-post-title .hfe-post-content-parent.elementor-size-medium p{
    font-size: 19px
}

.elementor-widget-post-title .hfe-post-content-parent.elementor-size-large p{
    font-size: 29px
}

.elementor-widget-post-title .hfe-post-content-parent.elementor-size-xl p{
    font-size: 39px
}

.elementor-widget-post-title .hfe-post-content-parent.elementor-size-xxl p{
    font-size: 59px;
}
